@font-face {
    font-family: "Displaynigga";
    src: url(../FONTS/display.ttf) format("truetype");
}

.calculadora{
    display: block;
    margin: 0 auto;
    padding:20px;
    background-color: #DC4C46;
    width: 455px;
    height: auto;
    border-radius: 25px;
}
.calculadora td button{
    display: block;
    width:70px;
    height: 50px;
    font-size:25px;
}
#resultado{
    padding-top: 7px; 

    display: block;
    
    text-align: right;
    font-family: Displaynigga;
    font-size: 40px;
    margin-bottom: 20px;
    width: 440px;
    height: 70px;
    background-color: white;
    border-radius: 25px;
    overflow-y: scroll;
    
}

#memoria{
    padding-top: 7px; 

    display: block;
    
    text-align: right;
    font-family: Displaynigga;
    font-size: 40px;

    width: 70px;
    height: 50px;
    background-color: white;
    border-radius: 25px;

    
}

#texto{
    width: 67px;
    height: 45px;
}
.calculadora td .buttonB{
    display: block;
    width:219px;
    height: 50px;
    font-size:25px;
}